@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@addTagHelper *,Microsoft.AspNetCore.Razor.Tools

@model NetNote.Model.Note

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    @if (Model == null)
    {
        <form method="post" asp-action="Details">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" placeholder="请输入密码查看" class="form-control" />
            </div>
            <input type="submit" value="查看" class="btn text-center" />
        </form>
    }
    else
    {
        <h1>@Model.Title</h1>
        <h5>@Model.Type.Name</h5>
        <div class="modal-content">@Model.Content</div>
        if (!string.IsNullOrEmpty(Model.Attachment))
        {
            <a href="/@Model.Attachment">下载</a>
        }
    }


</div>